*{
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
}

.homeHero{
    position: relative;
    overflow: hidden;
}
.homeHero::before{
    content: url("/img-pattern-hero1.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.homeHero::after{
    content: url("/img-pattern-hero2.svg");
    position: absolute;
    right: 0;
    top: 0;
}